[submodule "backend/submodules/Wav2Lip"]
	path = backend/submodules/Wav2Lip
	url = https://github.com/Walchshofer/Wav2Lip
[submodule "backend/submodules/BlurDetection2"]
	path = backend/submodules/BlurDetection2
	url = https://github.com/Walchshofer/BlurDetection2
[submodule "backend/submodules/ESRGAN"]
	path = backend/submodules/ESRGAN
	url = https://github.com/Walchshofer/ESRGAN

